body{
font-family: 'Lobster', cursive;
font-size: 16px;	
}

header{
background-color: lightgreen;
text-align: center;
}

header figure{
	float: right;
	margin-right:50px;	
}

header figure img{
	width: 80px;
	height: 80px;
	border-radius: 0.8rem;
}

header h1{
	color: orange;
	float: center;
	font-size: 1.6em;
	display: block;
	margin: 7px 80px 0px 50px;
	padding: 0px;
}

header nav ul{
	padding:0px;
	margin:0px;
	text-align: center;
	list-style-type: none;
}

header nav ul li{
	height: 35px;
	margin-top: 10px;
	width: 100%;
	display: inline-block;
}

header nav ul li a{
	text-decoration: none;
	font-weight: bold;
	color: #f7f7f7;
	padding: 10px 20px;
}

section article{
	width: 170px;
	height: 170px;
	background-color: yellow;
	border:1px solid black;

	display: inline-block;
	margin: 10px 2px 10px 3px;
	position: relative;
}


section article p{
	color:red;
	font-weight: bolder;
	text-transform: center;
	font-style: italic;
	text-decoration: underline;
	line-height: 35px;
	background-color: yellow;
	font-size: 0.8rem;	
	position: absolute;
	bottom: 5px;
	right: -10px;
	left: 10px;

}







/*Inicio modo Responsive y Mobile First */
@media screen and (min-width: 480px){
	header nav ul li{
		width: 22%;
	}
}/*Inicio modo Celulares */
@media screen and (min-width: 767px){
	header nav ul li{
		width: 8%;
	}
}/*Inicio modo Tablets */
@media screen and (min-width: 950px){

}/*Inicio modo Desktop */

